/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l496Xg.dtsi>
#include <st/l4/stm32l496a(e-g)ix-pinctrl.dtsi>

/ {
	model = "STMicroelectronics STM32L496G-DISCO board";
	compatible = "st,stm32l496g-disco";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led_2: led_2 {
			gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		joy_sel: joystick_select {
			label = "joystick select";
			gpios = <&gpioc 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		joy_down: joystick_down {
			label = "joystick down";
			gpios = <&gpioi 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		joy_up: joystick_up {
			label = "joystick up";
			gpios = <&gpioi 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		joy_left: joystick_left {
			label = "joystick left";
			gpios = <&gpioi 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		joy_right: joystick_right {
			label = "joystick right";
			gpios = <&gpiof 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
	};

	aliases {
		led0 = &green_led_2;
		sw0 = &joy_sel;
	};

	arduino_header: connector {
			compatible = "arduino-header-r3";
			
			#gpio-cells = <2>;
			
			gpio-map-mask = <0xffffffff 0xffffffc0>;
			gpio-map-pass-thru = <0 0x3f>;
			gpio-map = 
				<0 0 &gpioc 4 0>,    // A0
				<1 0 &gpioc 1 0>,    // A1 
				<2 0 &gpioc 3 0>,    // A2 
				<3 0 &gpiof 10 0>,   // A3 
				<4 0 &gpioa 1 0>,    // A4 
				<5 0 &gpioc 0 0>,    // A5 
				<6 0 &gpiog 8 0>,    // D0 ; Also Arduino's LPUART
				<7 0 &gpiog 7 0>,    // D1 ; Also Arduino's LPUART
				<8 0 &gpiog 13 0>,   // D2 
				<9 0 &gpioh 15 0>,   // D3 
				<10 0 &gpioi 11 0>,  // D4 
				<11 0 &gpiob 9 0>,   // D5 
				<12 0 &gpioi 6 0>,   // D6 
				<13 0 &gpiog 6 0>,   // D7 
				<14 0 &gpiog 15 0>,  // D8 
				<15 0 &gpioh 13 0>,  // D9 
				<16 0 &gpioa 15 0>,  // D10 ; Also Arduino's SPI
				<17 0 &gpiob 5 0>,   // D11 ; Also Arduino's SPI
				<18 0 &gpiob 4 0>,   // D12 ; Also Arduino's SPI
				<19 0 &gpioa 5 0>,   // D13 ; Also Arduino's SPI
				<20 0 &gpiob 7 0>,   // D14 ; Also Arduino's I2C
				<21 0 &gpiob 8 0>;   // D15 ; Also Arduino's I2C
		};


};

arduino_i2c: &i2c1 {};
arduino_spi: &spi1 {};
arduino_serial: &lpuart1 {};

stmod_usart: &usart1 {};            // The STMOD are using UART_1


&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pg10>;
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pd6>;
	current-speed = <115200>;
	status = "okay";
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_tx_pg7 &lpuart1_rx_pg8>;
	current-speed = <115200>;
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb7>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pb4 &spi1_mosi_pb5>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&sdmmc1 {
	pinctrl-0 = <&sdmmc1_d0_pc8 &sdmmc1_d1_pc9
		     &sdmmc1_d2_pc10 &sdmmc1_d3_pc11
		     &sdmmc1_ck_pc12 &sdmmc1_cmd_pd2>;
	status = "okay";
};
